body{
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); 


font-family: "Segoe UI" , Tahoma,Sans-Serif;margin:0;
padding:0;
margin:0;

}

.container{

display: flex;
height: 100dvh;
justify-content: center;
align-items:center;



}
.pargraf{

background:white;
max-height: 90%;
height: 80%;

max-width:70%;
width:70%;
border: 2px solid black ;
padding:4px;

overflow: auto;
}
p{

text-align: center;

}