body{

    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    font-family: "Segoe UI" , Tahoma,Sans-Serif;
    text-align: center;
    margin: 0;
    padding: 40px;
    
    
}

h1{
  
  font-size: 36px;
  
  
}

#search::placeholder{
  
  color: black;
  text-align: center;
  opacity: 0.8;
  
  
  
}

.container{
  
  display: flex;
  flex-direction: column;
  justify-content: canter;
  align-items: center ;
  min-height: 100vh;
  padding: 20px;
  
  
}
#search{
  
  width: 90%;
  max-width: 600px;
  padding: 5px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 10px 30px  rgba(0,0,0,0,3);
  font-size: 16px;
  outline: none;
  box-shadow: 0 0 20px rgba(96, 165, 250.0.5);

}

#search:focus{
  
  outline: 4px solid #60a1d;
  box-shadow: 0 0 20px rgba(96, 165 ,250, 0.5);
}