body{


   background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    
    font-family: "Segoe UI" , Tahoma,Sans-Serif;
    margin: 0;
    padding: 0;
    
    
}



.container{
  
display: flex;

justify-content:center;
flex-direction:column;
align-items: center;
height: 100dvh;

}

#search{


 width: 90%;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    font-size: 24px;
    background: linear-gradient(135deg, #2c3e50, #34495e);
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all 0.3s ease;

}

#search::placeholder{

color:white;
text-align:center;
opacity:0.8;
font-size: 15px;
font-weight: bolder;
}



h1 {
 

font-weight: bolder;

transform: translateY(-70px);  
margin-bottom: 120px; 
color: rgba(164, 179, 184, 1); 
font-size: 3rem;
text-shadow: 0 0 10px rgba(44, 62, 80,0.9),
0 0 20px rgba(52, 73, 94, 0.7),  
1px 1px 3px rgba(0, 0, 0, 0.5);
}

a{

display: block;
width: 90;
max-width:500px;
margin: 40px auto;
font-size:20px;
background: linear-gradient(135deg, #2c3e50, #34495e);
text-decoration: none;
text-align: center;
border-radius:50px;
border:none;
color:white;
box-shadow: 0 10px 30px rgba(0,0,0,0.4);
cursor: pointer;
transition: all 0.3s ease;
}

a:hover{
transform: translateY(-5px);
box-shadow: 0 15px 40px rgba(0,0,0,0.5);
background:linear-gradient(135deg, #34495e, #2c3e50);


}
